streamlit
langchain
langchain-community
langchain-google-genai
langchain-core
langgraph
google-generativeai
google-ai-generativelanguage
chromadb
pyttsx3
SpeechRecognition
matplotlib
python-dotenv
youtube-search-python
Pillow
pydub
langdetect
requests
pygame
deep-translator